body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F7F7F7;
    color: #3d3d3d;
    width: 100vw;
    height: 100vh;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    max-width: 100vw;
    flex-grow: 1;
}

main {
    position: relative;
}

.getusername {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.getusername-title {
    font-size: 3em;
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px #75EDBF;
}

.getusername-title:hover {
    color: #75EDBF;
    transform: scale(1.01);
    text-shadow: 1px 1px 2px #3d3d3d17;
    transition: transform 330ms ease-in-out;
}

#name {
    width: 40vw;
    height: 3vh;
    border-style: none;
    box-shadow: 1px 1px 5px #3d3d3d17;
}

input:focus { 
    outline: none !important;

}
textarea:focus { 
    outline: none !important;
}

.username-submit {
    margin-top: 20px;
    margin-bottom: 100px;
    height: 3.5vh;
    width: 15vw;
    border-style: none;
    background-color: #75EDBF;
    border-radius: 25px;
    font-weight: 600;
    color: #3d3d3d;
    box-shadow: 1px 1px 5px #3d3d3d17
}

.username-submit:hover {
    transform: scale(1.05);
    transition: transform 330ms ease-in-out;
}

.greet {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.greeting {
    font-size: 2em;
    font-weight: 500;
}

.greeting-button {
    margin-top: 20px;
    margin-bottom: 100px;
    height: 3.5vh;
    width: 15vw;
    border-style: none;
    background-color: #75EDBF;
    border-radius: 25px;
    font-weight: 600;
    color: #3d3d3d;
    box-shadow: 1px 1px 5px #3d3d3d17
}

.greeting-button:hover {
    transform: scale(1.05);
    transition: transform 330ms ease-in-out;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 80vw;
    max-width: 100vw;
    flex-grow: 2;
}

.leftside-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

header button {
    background-color: transparent;
    border-style: none;
    color: #3d3d3d;
}

header button:hover {
    color: #75EDBF;
    transform: scale(1.05);
    transition: transform 330ms ease-in-out;
}

#content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: row-reverse;
    min-height: 100vh;
    min-width: 100vw;
}

.sidebar {
    position: relative;
    left: 0;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 5%;
    justify-content: center;
    min-height: 100vh;
    max-width: 30vw;
    flex-grow: 1;
    gap: 3px;
    box-shadow: 1px 1px 5px #3d3d3d17;
}

#sidebar-space {
    margin-top: 60vh;
}

.sidebar button {
    background-color: transparent;
    border-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    font-weight: 500;
    color: #3d3d3d;
    border-radius: 25px;
    width: 100px;
}


.sidebar button:hover {
    color: #75EDBF;
    transform: scale(1.05);
    text-shadow: 1px 1px 5px #3d3d3d17;
    transition: transform 330ms ease-in-out;
}

.calendar {
    display: flex;
    min-width: 80vw;
    max-width: 100vw;
    justify-content: center;
    gap: 20px;
}

.days {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e4e2e2c0;
    height: 65px;
    width: 60px;
    border-radius: 15px;
    box-shadow: 1px 1px 5px #3d3d3d17;
}

.day-names {
    margin-bottom: 0;
}

.day-dates {
    margin-top: 0;
    font-weight: bolder;
    font-size: 1.7em;
}

#day-one {
    height: 80px;
    width: 65px;
    background-color: #75EDBF;
    color: #F2F2F2;
    text-shadow: 1px 1px 1px #3d3d3d36;
    font-weight: bold;
}

.task-prompt {
    display: flex;
    flex-direction: column;
    min-width: 80vw;
    max-width: 100vw;
    justify-content: center;
    align-items: center;
}

.prompt-title {
    margin-bottom: 5px;
}

.add-button {
    margin-top: 20px;
    height: 3.5vh;
    width: 15vw;
    border-style: none;
    background-color: #75EDBF;
    border-radius: 25px;
    font-weight: 600;
    color: #3d3d3d;
    box-shadow: 1px 1px 5px #3d3d3d17
}

.add-button:hover {
    transform: scale(1.05);
    transition: transform 330ms ease-in-out;
}

.task-prompt input {
    border-style: none;
    width: 40vw;
    height: 3vh;
    border-style: none;
    box-shadow: 1px 1px 5px #3d3d3d17
}

input.prompt-description {
    height: 10vh;
}

.tasks {
    margin-left: 20px;
    margin-right: 20px;
}

.tasks-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.task-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e4e2e2c0;
    height: 100px;
    width: 250px;
    border-radius: 25px;
}

.task-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 1px;
}

.task-project {
    margin-top: 5px;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    background-color: #75EDBF;
    height: 25px;
    width: fit-content;
    border-radius: 25px;
    text-transform: capitalize;
}

.projects {
    margin-left: 20px;
    margin-right: 20px;
}

.projects-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.project-card {
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 1.2em;
    letter-spacing: 2px;
    justify-content: center;
    background-color: #75EDBF;
    height: 100px;
    width: 150px;
    box-shadow: 1px 1px 5px #3d3d3d17
}

footer {
    position: absolute;
    bottom: 0;
    font-weight: bold;
}

footer:hover {
    color: #75EDBF;
    transform: scale(1.02);
    text-shadow: 1px 1px 3px #3d3d3d0e;
    transition: transform 330ms ease-in-out;
}